.set {
    display: flex;
    justify-content: center;
    align-items: center;
}
.news {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 20px;
    margin-top: 40px;
}
.box {
    border: 1px solid #e82a29;
    border-radius: 15px;
    height: 350px;
}
.element {
    display: grid;
    grid-template-columns: 4fr 1fr;
}



.img {
    width: 300px;
    border-top-left-radius: 15px;
}